.alert {
  --alert-contrast: oklch(var(--text-color));
  --alert-surroundings: oklch(var(--page));
  /* --alert-background: color-mix(
    in oklab,
    var(--alert-base) 15%,
    var(--alert-surroundings) 90%
  );
  --alert-border-fallback: color-mix(
    in oklab,
    var(--alert-base) 60%,
    var(--alert-contrast) 5%
  ); */
  --alert-text: color-mix(
    in oklab,
    var(--alert-base) 20%,
    var(--alert-contrast) 100%
  );

  @apply rounded-lg p-sm border;

  border-color: var(--alert-border);

  /* background-color: var(--alert-background); */
  /* background-color: oklch(lightness chroma hue); */
  color: var(--alert-text);
}

.alert-info {
  --alert-base: oklch(var(--info));
  --alert-background: oklch(in oklab, var(--info-bg));
  /* --alert-border: oklch(in oklab, var(--info-bd)); */
  /* border-color: oklch(in oklab, var(--info-bd)); */
  border-color: oklch(var(--info-bd) / var(--tw-bg-opacity));
  background-color: oklch(var(--info-bg) / var(--tw-bg-opacity));

  /* @apply bg-[oklch(var(--info))]; */
  /* --background: oklch(var(--info)); */
}

.alert-icon-info {
  color: oklch(var(--info-fg) / var(--tw-bg-opacity));
}

.alert-success {
  --alert-base: oklch(var(--success));
  /* --background: oklch(var(--info)); */
}

.alert2 {
  --alert-bg: oklch(var(--info-bg));
  --alert-fg: oklch(var(--info-fg));
  --alert-bd: oklch(var(--info-bd));

  @apply rounded-lg p-sm border;
  background-color: var(--alert-bg);
  border-color: var(--alert-bd);
  color: var(--alert-fg);
}

.alert2-info {
  --alert-bg: oklch(var(--info-bg));
  --alert-fg: oklch(var(--info-fg));
  --alert-bd: oklch(var(--info-bd));
}
