/* bg-[color-mix(in_oklab,oklch(var(--p)),black_7%)] */
/* .bg-interaction-primary {
  background-color: rgb(var(--primary-base) / var(--tw-bg-opacity));
} */

/* background-color: rgb(var(--primary-base)/var(--tw-bg-opacity)); */
/* .bg-interaction-primary-hover {
  @apply bg-[color-mix(in_oklab,oklch(var(--primary-base)),black_7%)];
} */

/* btn --> quiet button */
/* btn btn-flat --> flat button */
/* btn btn-secondary --> outline button, transparent with border */
/* btn btn-primary --> filled button, transparent with border */

/* btn --> secondary button */
/* btn btn-primary --> flat button */
/* btn btn-tertiary --> outline button, transparent with border */
/* btn btn-quaternary --> filled button, transparent with border */

/* primary --> filled with primary color */
/* secondary / outline --> border color neutral */
/* secondary / outline --> border color neutral */

/* primary */
/* ghost */
/* outline */
/* default */

.btn {
  --button-color: var(--outline);
  --button-height: 2.5rem;
  @apply inline-flex font-semibold px-md rounded box-border border border-transparent transition-all text-primary text-[0.875rem];
  @apply h-[var(--button-height)] items-center justify-center gap-x-sm;
  transition-property: color, background-color, border-color, opacity,
    box-shadow, transform;
}
.btn:hover,
.btn-outline:hover,
.btn-ghost:hover {
  background-color: color-mix(
    in oklab,
    oklch(var(--button-color)) 12.5%,
    transparent
  );
  /* border-color: color-mix(in oklab, white, oklch(var(--button-color)) 5%); */
}

.btn-outline {
  --button-color: var(--outline);
  @apply border border-outline text-outline-content;
}

.btn-ghost {
  --button-color: var(--outline);
  @apply text-outline;
}

.btn-danger {
  --button-color: var(--danger);
  --content-color: var(--danger-content);
}
.btn-primary {
  --button-color: var(--primary);
  --content-color: var(--primary-content);
}
.btn-primary,
.btn-danger {
  background-color: oklch(var(--button-color));
  border-color: oklch(var(--button-color));
  color: oklch(var(--content-color));
  /* @apply bg-[var(--button-color)] text-[var(--content-color)] border-[var(--button-color)]; */
}
.btn-primary:hover,
.btn-danger:hover {
  background-color: color-mix(in oklab, oklch(var(--button-color)), black 10%);
  border-color: color-mix(in oklab, oklch(var(--button-color)), black 10%);
}
.btn:focus-visible {
  @apply outline outline-2 outline-offset-2 outline-primary;
}

.btn-sm {
  --button-height: 1.5rem;
  @apply px-[0.5rem] text-[0.75rem];
}
.btn-lg {
  --button-height: 3.5rem;
  @apply px-[1.5rem] text-[1rem];
}

.btn-square {
  @apply w-[var(--button-height)] p-[unset];
}

/* .btn-outline:hover {
} */
/* .btn-outline:hover {
  background-color: color-mix(in oklab, oklch(var(--outline)) 10%, white 10%);
} */

.btn:active:hover,
.btn-outline:active:hover,
.btn-ghost:active:hover {
  background-color: color-mix(
    in oklab,
    oklch(var(--button-color)) 25%,
    transparent
  );
  /* border-color: color-mix(in oklab, white, oklch(var(--button-color)) 5%); */
}
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-danger:active:hover,
.btn-danger:active:focus {
  background-color: color-mix(in oklab, oklch(var(--button-color)), black 17%);
  border-color: color-mix(in oklab, oklch(var(--button-color)), black 17%);
}
.btn:active:hover,
.btn:active:focus {
  /* animation: button-pop 0s ease-out; */
  transform: scale(var(--btn-pressed-scale, 0.97));
}

/* @keyframes button-pop {
  0% {
    transform: scale(var(--btn-focus-scale, 0.97));
  }
  40% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
} */
