input[type="checkbox"].toggle {
  --toggle-base: oklch(var(--primary));
  --toggle-contrast: oklch(var(--text-color));
  --toggle-surroundings: oklch(var(--page));
  --toggle-border-unchecked: var(--toggle-contrast);
  --toggle-border-checked: var(--toggle-base);
  --toggle-unchecked: color-mix(
    in oklab,
    var(--toggle-contrast) 10%,
    var(--toggle-surroundings) 30%
  );
  --toggle-disabled-checked-bg: color-mix(
    in oklab,
    var(--toggle-surroundings) 20%,
    var(--toggle-base) 20%
  );
  --toggle-disabled-unchecked-bg: var(--toggle-surroundings);
  --toggle-disabled-checked-knob: var(--toggle-surroundings);
  --toggle-disabled-unchecked-knob: color-mix(
    in oklab,
    var(--toggle-surroundings) 20%,
    var(--toggle-contrast) 20%
  );
  --toggle-knob: var(--toggle-contrast);
  --toggle-bg-checked: var(--toggle-base);
  --toggle-knob-checked: var(--toggle-surroundings);
  appearance: none;
  background-color: var(--toggle-unchecked);
  border-radius: 72px;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
  border-width: 2px;
  border-color: var(--toggle-border-unchecked);
  cursor: pointer;
}

input[type="checkbox"].toggle::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

input[type="checkbox"].toggle::after {
  transition: all 100ms ease-out;
  background-color: var(--toggle-knob);
}

input[type="checkbox"].toggle::after {
  border-radius: 50%;
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  left: 1px;
  top: 1px;
}

input[type="checkbox"].toggle:checked {
  background-color: var(--toggle-bg-checked);
  border-color: var(--toggle-border-checked);
}

input[type="checkbox"].toggle:checked::after {
  background-color: var(--toggle-knob-checked);
  left: 11px;
}

input[type="checkbox"].toggle:focus-visible {
  @apply outline outline-2 outline-offset-2 outline-primary;
}

input[type="checkbox"].toggle:disabled {
  border-color: var(--toggle-disabled-unchecked-knob);
  background-color: var(--toggle-disabled-unchecked-bg);
  cursor: not-allowed;
}

input[type="checkbox"].toggle:disabled::after {
  background-color: var(--toggle-disabled-unchecked-knob);
}

input[type="checkbox"].toggle:disabled:checked::after {
  background-color: var(--toggle-disabled-checked-knob);
}

input[type="checkbox"].toggle:disabled:checked {
  background-color: var(--toggle-disabled-checked-bg);
  border-color: var(--toggle-disabled-checked-bg);
}

input[type="checkbox"].toggle.toggle-sm {
  height: 16px;
  width: 26px;
}
input[type="checkbox"].toggle.toggle-sm::after {
  height: 10px;
  width: 10px;
}
